/* USE CSS LAYOUTS HERE */
.bodygrid{
   display: grid;
   min-height: 100vh;
   text-align: center;
   grid-template-rows: 20vh 40vh 40vh;
}
.header1{
background-color: salmon;
}
.main1{
   background-color:springgreen;
   padding: 100px;
}
.footer-grid {
   background-color:rebeccapurple;
  }

   